body {
  background-color: #c7ffb8;
  font-family: system-ui;
}

nav {
  height: 70px;
  width: 700px;
  margin: 30px auto;
  background-color: #00bf63;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}
nav img {
  width: 30px;
  height: 30px;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  width: 35px;
  height: 35px;
}
.logo a {
  color: white;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 50px;
  transform: translate(-10%, -18%);
}

.nav-links {
  text-align: right;
}

a {
  text-decoration: none;
  color: #1c1f25;
  padding: 15px;
  position: relative;
  top: 20px;
  font-size: 25px;
}

a:hover {
  color: rgb(217, 255, 46);
}

.container {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}

.searchContainer {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

#searchInput {
  padding: 10px;
  border-right: none;
  border-color: #00bf63;
  border-radius: 20px 0 0 20px;
  width: 400px;
  border-bottom-width: 10px;
}

#searchInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(217, 255, 46);
}

.searchButton {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  border-width: 1px;
  border-bottom-width: 10px;
  border-color: #00bf63;
}

.searchButton:hover {
  background-color: #00bf63;
}

header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}

.servers,
.bartenders,
.chefs,
.busboys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 10px;
}
.servers .employee,
.bartenders .employee,
.chefs .employee,
.busboys .employee {
  text-align: center;
  background-color: #00bf63;
  color: darkgreen;
  padding: 20px;
  letter-spacing: 1px;
  border-radius: 15px;
}
.servers .employee img,
.bartenders .employee img,
.chefs .employee img,
.busboys .employee img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.servers .employee .employeeID,
.bartenders .employee .employeeID,
.chefs .employee .employeeID,
.busboys .employee .employeeID {
  font-weight: 600;
  margin: 10px;
  font-size: 25px;
}
.servers .employee .name,
.bartenders .employee .name,
.chefs .employee .name,
.busboys .employee .name {
  color: #1c1f25;
}
.servers .employee button,
.bartenders .employee button,
.chefs .employee button,
.busboys .employee button {
  background-color: darkgreen;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}
.servers .employee button:hover,
.bartenders .employee button:hover,
.chefs .employee button:hover,
.busboys .employee button:hover {
  color: rgb(217, 255, 46);
}

.servers .employee .orderButton,
.bartenders .employee .orderButton,
.chefs .employee .orderButton,
.busboys .employee .orderButton {
  background-color: #e8bc0e;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.servers .employee .orderButton:hover,
.bartenders .employee .orderButton:hover,
.chefs .employee .orderButton:hover,
.busboys .employee .orderButton:hover {
  color: rgb(217, 255, 46);
}

.info {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453e3b;
  height: 100vh;
  transition: 0.5s;
}

.active .info {
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.info h1 {
  color: #e8bc0e;
  font-weight: 200;
  margin: 20px 20px 40px 20px;
  font-size: 50px;
}
.info p {
  color: white;
  font-weight: 300;
  padding-left: 40px;
  font-size: 25px;
}

.info .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info .checkOut div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.info .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}

.info .workedHours {
  background-color: darkgoldenrod;
  border-radius: 15px;
  text-align: center;
  height: 60px;
  margin: 40px 30px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-left: 0;
}

#workedHours {
  margin-left: 5px;
}

.info button:hover {
  color: rgb(217, 255, 46);
}

@media only screen and (max-width: 600px) {
  nav {
    width: 500px;
  }

  a {
    padding: 10px; /* Reduce padding for smaller screens */
    top: 20px; /* Adjust top spacing */
    font-size: 20px; /* Adjust font size for mobile */
  }

  .nav-links {
    padding: 5px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .container {
    width: 500px;
  }

  .servers,
  .bartenders,
  .busboys,
  .chefs {
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 100vw;
  }
}
