body {
  background-color: #e3e7e8;
  font-family: system-ui;
}

nav {
  height: 70px;
  width: 700px;
  margin: 30px auto;
  background-color: #00bf63;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}
nav img {
  width: 30px;
  height: 30px;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  width: 35px;
  height: 35px;
}
.logo a {
  color: white;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 50px;
  transform: translate(-10%, -18%);
}

.nav-links {
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
  padding: 15px;
  position: relative;
  top: 20px;
  font-size: 25px;
}

a:hover {
  color: rgb(217, 255, 46);
}

.container {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}

.searchContainer {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

#searchInput {
  padding: 10px;
  border-right: none;
  border-color: #00bf63;
  border-radius: 20px 0 0 20px;
  width: 400px;
  border-bottom-width: 10px;
}

#searchInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(217, 255, 46);
}

.searchButton {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  border-width: 1px;
  border-bottom-width: 10px;
  border-color: #00bf63;
}

.searchButton:hover {
  background-color: #00bf63;
}

header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
header .shopping {
  position: relative;
  text-align: right;
}
header .shopping img {
  width: 40px;
}
header .shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.list .table {
  text-align: center;
  background-color: #00bf63;
  padding: 20px;
  letter-spacing: 1px;
  border-radius: 15px;
}
.list .table img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.list .table .tableID {
  font-weight: 600;
  margin: 10px;
  font-size: 25px;
}

.list .table button {
  background-color: darkgreen;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}
.list .table button:hover {
  color: rgb(217, 255, 46);
}
.busboy {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453e3b;
  height: 100vh;
  transition: 0.5s;
}

.active .busboy {
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.busboy h1 {
  color: #e8bc0e;
}
.busboy h2 {
  color: #e8bc0e;
  font-weight: 100;
  margin: 0;
  padding: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.busboy .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.busboy .checkOut div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.busboy .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}
.busboy span {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}
.busboy div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#available {
  background-color: darkgreen;
  color: #fff;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
}
#unavailable {
  background-color: darkred;
  color: #fff;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
}
.busboy button:hover {
  color: rgb(217, 255, 46);
}

.busboy .count {
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 500px;
  }

  a {
    padding: 10px; /* Reduce padding for smaller screens */
    top: 20px; /* Adjust top spacing */
    font-size: 20px; /* Adjust font size for mobile */
  }

  .nav-links {
    padding: 5px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .container {
    width: 500px;
  }

  .list {
    grid-template-columns: 1fr; /* Single column for mobile */
    margin-top: 20px; /* Adjust top margin */
  }
}
